body {
  color: rgb(0,120,10);
  font-family: 'Poppins';
  font-size: 18px;
  margin: 10px;
}
h1 {
  text-align: left;
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}
img {
  display: flex;
  padding: 20px;
  border-radius: 40px;
}
a {
  color: rgb(0,0,0)
}
li {
  margin: 5px;
}

}
ul {
  list-style: none;
}
button {
    font-size: 20px;
    border-width: 1.5px;
    text-decoration: none;
    border-style: solid;
    padding: 10px 20px 10px 20px;
    background-color: white;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  #mediaicons {
    font-size: 40px;
    color: white;

  }
  #upperfooter {
    padding: 30px;
  }
  div.contrast {
       background-color: rgb(10,90,40);
       color: rgb(10,255,15);
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 20px;
  }
  .fa-facebook {
    color: white;
  }
  .fa-twitter {
    color: white;
  }
  .fa-pinterest {
    color: white;
  }
  .fa-instagram {
    color: white;
  }
div.footer {
  background-color: rgb(200,220,200)
}
nav.navbar {
  background-color: rgb(200,220,200)
}
.navbar-brand {
  font-size: 35px;
}
